<div class="container">
  <div class="head">
    <h1>Bienvenue dans le répertoire des onomatopés!!!</h1><iframe src="https://giphy.com/embed/3o7btW7VDxqrhJEnqE" width="200" height="120" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
  <div class="body">
    <span>Voici la liste des onomatopés :</span>
    <div class="list">
      <div class="elem" *ngFor="let elem of onomatopiaList">
        <span>{{elem}}</span>
      </div>
    </div>
  </div>
  <div class="formulaire">
    <span>Ajouter un onomatope :</span>
  <div>      
  </div>
    <app-create-onomatopia
    (newOnomatopia)="onReceiveOnomatopia($event)"
    ></app-create-onomatopia>
  </div>
</div>
